body{
	background:#FFFFFF;
	height:100%;
	width:100%;
}

.navwrapper{
	width:90%;
	margin-left:5%;
	margin-right:5%
}

.navbar{
	margin-left:30%;
	margin-right:3%;
}

.navbar a{
	text-align:center;
	float:right;
	margin-top:10%;
	margin-right: 10%;
}

.navwrapper img{
	width:20%;
	float: left;
	margin-top:0;
}

.navLowerLine{
	width:100%;
}

.titleWrapper h5{
	float:center;
	text-align: center;
	font-size:32pt;
	color:#959da1;
}

.mainContainer{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	
	
}

.searchField{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	display:block;
}

.searchField form{
	text-align:center;
}

.searchResults{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
